.container {
  max-height: 80vh; 
  overflow-y: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.container h1 {
  color: #000000;
  text-align: center;
}

.container ul {
  list-style-type: none;
  padding: 0;
}

.container li {
  margin-bottom: 15px;
}
label {
  color: #000000;
}
.container li div {
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 5px;
  background-color: #000000;
}
