.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .signup-form {
    background-color: #222;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 300px;
  }
  
  .signup-form h2 {
    margin-bottom: 20px;
    color: #fff;
    text-align: center;
  }
  
  .signup-form input {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
  }
  
  .signup-form button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #5E17EB;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .signup-form button:hover {
    background-color: #683FEA;
  }
  