body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #000;
  color: #fff;
  overflow: hidden;
}

.app {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: transparent;
}

.logo {
  font-size: 36px; /* Increased font size */
  font-weight: bold;
  color: #fff;
  margin-left: 20px; /* Adjust margin as needed */
}

.navbar {
  display: flex;
  gap: 40px; /* Space between nav links */
  margin-right: 20px; /* Adjust margin as needed */
}

.navbar a {
  color: #AAAAAA;
  text-decoration: none;
  font-size: 24px; /* Increased font size */
  font-family: monospace;
  transition: color 0.3s;
}

.navbar a:hover {
  color: #fff;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-buttons {
  display: flex;
  gap: 20px;
}

h1 {
  font-size: 48px; /* Increased font size */
  margin-bottom: 20px;
}

p {
  font-size: 24px; /* Increased font size */
  margin-bottom: 30px;
}

.btn {
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #292629;
  cursor: pointer;
  transition: all 0.3s;
}

.btn .text {
  color: #AAAAAA;
  font-size: 18px;
  font-family: monospace;
}

.btn:hover {
  background: linear-gradient(0deg, #A47CF3, #683FEA);
  box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.4),
              inset 0px -4px 0px 0px rgba(0, 0, 0, 0.2),
              0px 0px 0px 4px rgba(255, 255, 255, 0.2),
              0px 0px 180px 0px #9917FF;
  transform: translateY(-2px);
}

.btn:hover .text {
  color: white;
}
